/* 위시리스트 CSS */

/* 전체부모박스 */
#wishlist {
  position: fixed;
  top: 0px;
  // right: -60%;
  right: -60vw;
  width: 60vw;
  height: 100dvh;
  z-index: 99999999;

  background-color: black;
  color: #f3f3f3;
  h1 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 20px 0px;
  }

}

/* 닫기버튼 */
#wishlist .cbtn {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 39px;

  font-size: 3rem;

  transition: transform 0.3s;
  color: white;
}

#wishlist table {
  width: 90%;
  margin: 50px auto;
  font-size: 14px;
  border-top: 2px solid rgb(34, 34, 34);
  border-bottom: 2px solid rgb(34, 34, 34);
  border-collapse: collapse;
}
#wishlist th {
  padding: 15px 0px;
  background-color: rgb(229, 229, 229);
  font-size: 16px;
}
#wishlist td {
  padding: 10px 0px;
  border-top: 1px solid rgb(85, 85, 85);
  text-align: center;
}
#wishlist td img {
  width: 50px;
}

// 로그인할때 .5초 뒤에 나오게 하기위해 만든것

/* 위시리스트 사이드 이동상태 */
#mywish {
  position: fixed;
  top: 15%;
  left: calc(100% - 60px);
  background-color: #e30613;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  z-index: 9999999;
  width: 60px;
  height: 50px;

  opacity: 0;

  transition: opacity .3s ease-out, left .3s ease-out;
  cursor: pointer;
  .fa-heart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 25px;
    color: #fff;
  }
  &.on{
    opacity: 1;
    transition: opacity .3s ease-out;
  }
  &.open{
    opacity: 1;
  }
  &:hover{
    left: calc(100% - 75px);
    transition: left .3s ease-out;
  }
}




//////////////////////////////////////////////////////////////
// 위시리스트 제목
.wish-txt{
  padding: 15px;
}
.mySwiper3 {
  margin: 13px 0px;
}
.wish-sub-tit {
  strong {
    font-size: 2rem;
    cursor: pointer;
  }
}
// 위시리스트 내용
.wish-sub-txt-wrap {
  display: flex;
  gap: 10px;
  // 가로스크롤
  overflow: auto;
  // white-space: nowrap;

  //이미지와 텍스트 flex
  .wish-sub-txt {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
.wish-sub-txt img {
  width: 100%;
  aspect-ratio: 1;
}
.wish-sub-txt p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 6px;
}
.wish-sub-txt .wish-cancle{
  position: absolute;
  top: 0;
  right: 3px;

  height: 20px;
  .wish-xmark{
    cursor: pointer;
    // outline: red 2px solid;
    font-size: 2rem;
    color: black;
  }
}

