//메인 세번째 페이지 슬라이드 css

.main3 {
    margin: 12rem auto;
    width: 100%;
  }
/* 제목 */
.main3-tit {
    text-align: center;
    margin-bottom: 2rem;
  }
  .main3-tit h2 {
    font-size: 5rem;
  }
  .main3-tit span {
    font-size: 2rem;
  }

.main3-slide>img{
    width: 100%;
  }