//메인 세번째 페이지 슬라이드 css

/* 제목 */
.main3-tit {
  text-align: center;
  margin-bottom: 2rem;
}
.main3-tit h2 {
  font-size: 3.5vw;
}
.main3-tit span {
  font-size: 1vw;
}

.main3-slide-wrap{
  position: relative;
  opacity: 1;
}
.red-box2{
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #e30613;
  z-index: 2;
  &.on{
    width: 100%;
    transition: .3s ease-in-out;
  }
}
// 슬라이드
.main3-slide {
  position: relative;
}
.main3-slide > img {
  width: 100%;
}
.slide-txt{
  position: absolute;
  left: 6vw;
  top: 50%;
  transform: translateY(-50%);

  width: 40%;
  margin-left:auto;

}
.slide-txt h3{
  font-size: 4rem;
  margin-bottom: 20px;
}
.slide-txt p{
  font-size: 1.8rem;
  font-weight: 200;
}
.main3-slide:nth-child(n+5) .slide-txt{
  color: black;
}
// 슬라이드 넘김버튼
.swiper-button-prev, .swiper-button-next{
  color: #e30613;
}
// 슬라이드 불릿
.swiper-pagination-bullet-active{
  background-color: #e30613;
}