/* 회원가입 페이지 CSS */

/* 최상위 부모박스 */
.outbx {
  margin: 25px;
  padding-top: 70px;
}
.loginOutbx{
  min-height: calc(100vh - 58px - 210px);
}
/* 전체박스 */
.membx {
  max-width: 700px;
  min-height: 600px;
  padding: 15px;
  border: 1px solid #555;
  margin: 0 auto;

  h2 {
    text-align: center;
    padding: 15px;
    font-size: 30px;
  }

  li {
    position: relative;
    padding: 25px;
  }
  label {
    display: inline-block;
    width: 25%;
    text-align: right;
    font-size: 20px;
    white-space: nowrap;
  }
  input {
    width: 60%;
    height: 3vh;
    margin-left: 5%;
    font-size: 20px;
    vertical-align: baseline;
  }
  .msg {
    position: absolute;
    left: 31%;
    width: 50%;
    font-size: 14px;
    /* outline: 1px dotted red; */
    padding: 5px 0;
    font-weight: bold;
  }

  .sbtn {
    padding: 15px;
    float: right;
    margin-right: 9%;
  }
  .login-sbtn{
    width: 100%;
    margin: 0;
  }
  ul {
    li:last-child {
      text-align: center;
      a {
        color: #0d6efd;
        text-decoration: none;
        &:hover {
          color: #e30613;
        }
      }
    }
  }
}
