// 서브페이지 - 컬러

.sub4{
    max-width: 1200px;
    min-width: 600px;

    margin: 0px auto;
    padding-top: 10rem;
}
.sub4-title{
    h2{
        font-size: 4rem;
        letter-spacing: -0.4px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}
.cUlist{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-content: center;
    gap:1rem;
    li{
        .color-box{
            aspect-ratio: 1;
        }
        p{
            font-size: 1.2rem;
            line-height: 16px;
            color: #000;
            margin: 5px 0;
        }
    }
}

.subSearch-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    #stxt{
        width: 80%;
        height: 35px;
        border-radius: 10px;
        border: 1px solid;
    }
    .search-btn{
        cursor: pointer;
        width: 40px;
        aspect-ratio: 1;
        font-size: 2rem;
        background-color: #00000000;
        border: none;
    }
}

/****************************** 모바일 ****************************/

@media screen and (max-width: 1030px) {
    .cUlist {
      grid-template-columns: repeat(5, 1fr);
    }
  }////////////////////////1030px/////////////////////
  @media screen and (max-width: 800px) {
    .cUlist {
        grid-template-columns: repeat(3, 1fr);
      }
  } ////////////////////////800px/////////////////////
  @media screen and (max-width: 600px) {
    .sub4{
        min-width: auto;
    }
    .sub4-title h2 {
        font-size: 3.5rem;
    }
    }
    ////////////////////////////////600px