/* 회원가입 페이지 CSS */

/* 최상위 부모박스 */
.outbx {
  padding: 150px;
}
/* 전체박스 */
.membx {
  max-width: 700px;
  min-height: 600px;
  padding: 15px;
  // border-radius: 5%;
  // border: 1px solid #555;
  margin: 0 auto;
  font-family: "Ubuntu Condensed", sans-serif;

  h2 {
    text-align: center;
    font-weight: bold;
    color: #6d89c4;
    text-shadow: 1px 1px 2px #3f5d8a;
    // text-decoration: underline;
    // text-decoration-style: double;
    padding: 15px;
    font-size: 30px;
    font-family: "Ubuntu Condensed", sans-serif;
  }

  li {
    position: relative;
    padding: 25px;
  }
  label {
    display: inline-block;
    width: 25%;
    text-align: right;
    font-size: 20px;
    white-space: nowrap;
  }
  input {
    width: 60%;
    height: 3vh;
    margin-left: 5%;
    font-size: 15px;
    vertical-align: baseline;
    font-family: "Ubuntu Condensed", sans-serif;
    background-color: #75757595;
  }

  input::placeholder {
    color: #fff;
  }
  .msg {
    position: absolute;
    left: 31%;
    width: 50%;
    font-size: 14px;
    /* outline: 1px dotted red; */
    padding: 5px 0;
    font-weight: bold;
  }

  .sbtn {
    padding: 5px;
    // background-color: #335a95;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #618ac9;
    // border: 4px solid darkblue;
    float: right;
    margin-right: 9%;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 5px rgb(82, 82, 82);
  }
  .sbtn:hover {
    background-color: #102e5a;
  }
  ul {
    li:last-child {
      text-align: center;
      a {
        color: #335a95;
        text-decoration: none;
        &:hover {
          color: #fd7e14;
          // text-decoration: overline;
          // text-decoration-style: wavy;
        }
      }
    }
  }
}

/*모달 팝업*/
.modal {
  /*팝업 배경*/
  display: none; /*평소에는 보이지 않도록*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  &.open{
    display: block;
  }
}
.modal .modal_popup {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
}
.modal .modal_popup .close_btn {
  display: block;
  padding: 10px 20px;
  background-color: rgb(116, 0, 0);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
