/* 메인 css - index.html  */

@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

body *{
    outline: 2px dashed red;
}
/****************************** 상단영역 ****************************/
/****************************** 메인영역 ****************************/
.main-area{
    background: no-repeat url(../img/main_bg_1.png) center/cover;
    font-family: 'Noto Sans KR', sans-serif;
}
.main-wrap{
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
}
.main-wrap>section{
    width: 50%;
    height: 100vh;
    position: relative;
}

/* 메인 이미지 구역 */
.main-card-wrap{
    position: relative;
    height: 100%;
}
.main-img{
    position: absolute;
    right: 12rem;
    top: 47.6%;
    transform: translateY(-50%) rotate(350deg);
    width: 430px;
    height: 620px;
    aspect-ratio: 430 / 620;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    /* opacity: 0; */
}
.main-card-area img{
    width: 100%;
}
.back-card{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    max-width: 430px;
    height: 620px;
    aspect-ratio: 430 / 620;
    border-radius: 50px;

    background-color: #370c51;
}
.back-card span{
    position: absolute;
    right: 0;


    font-size: 5rem;
    color: white;

    writing-mode: tb-rl;

    padding: 2rem;
    padding-top: 5rem;
}
/* 메인글자 구역 */
.text-area-wrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.text-area-wrap h2{
    font-size: 8rem;
    line-height: 1.2;
    font-weight: 500;
}
.text-area-wrap h3{
    font-size: 4rem;
    letter-spacing: -4px;
    font-weight: 300;
}
.text-area-wrap button{
    width: 160px;
    height: 50px;
    background-color: #ffffff00;

    margin-top: 1.8rem;

    cursor: pointer;
}
.text-area-wrap button span{
    width: 0%;
    height: 100%;
    color: red;

}
.text-area-wrap button:hover span{
    width: 100%;
    transition: 1s ease-in-out;
}
/****************************** 하단영역 ****************************/

