@charset "utf-8";

/* 팀 PJ : 공통 클래스 CSS - core.css */
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

/********************************* 웹폰트*********************************/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;700;900&display=swap");

@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}



/* 최대 페이지 넓이 */
.page{
  max-width: 1400px;
  margin: 0 auto;
}

/*************** 제목 **************8*/
/* 메인 제목 위치 및 크기 */
.main-text {
  color: #fff;
  position: absolute;
  width: 700px;
}

/* 메인 제목 글씨 */
.main-tit {
  font-family: "PyeongChangPeace-Bold";
  font-size: 12rem;
  letter-spacing: 10px;
  text-shadow: 1px 1px 2px #333;
}

/* 서브 제목 글씨 */
.sub-tit{
  font-family: 'Freesentation-9Black';
  font-size: 5rem;
  text-align: center;
}

/* 내용 제목 글씨 */
.cont-tit{
  font-family: 'Freesentation-9Black';
  font-size: 4.5rem;
}


/******************* 내용 *******************/

/* 메인 설명 */
.main-desc{
  font-family: 'Pretendard-Regular';

  width: 100%;

  font-size: min(3vw,1.8rem);
  line-height: 1.3;

  text-indent: 10px;
  text-align: justify;

  border-top: 1px dashed #ccc;
}

/* 서브 내용 */
.sub-desc{
  font-family: 'Pretendard-Regular';

  font-size: max(1vw, 14px);
  text-align: justify;
  font-weight: normal;
  line-height: 25px;
}

/************************************************************************************/

/* 모바일에서 오른쪽 여백 생기는 문제 해결 */
body > * {
  overflow-x: hidden;
  cursor: default;
}

/* 전체 감싼 박스 */
#wrap {
  position: relative;
}

.inbox {
  max-width: 1400px;
  height: 100%;
  /* outline: 1px solid red; */
  margin: 0 auto;
}

/* 글자날리기 */
.ir {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* 임시타이틀 */
.temp-tit {
  position: absolute;
  font-size: 2vw;
  color: #888;
}

/* 공통클래스: 클리어 설정 */
.clb::after {
  content: "";
  display: block;
  clear: both;
}

/* rem 계산 편하게 하기 위해 */
html {
  font-size: 10px;
}

body {
  /* 폰트 */
  font-family: "Noto Sans KR", sans-serif;
}

