@charset "utf-8";
/*  팀 PJ : 서브페이지 CSS - saturn.css */

@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/************* 공통구역 *************/
body *{
    outline: 2px dashed red;
}
.saturn{
    width: 100%;
    min-height: 100vh;
}

/************* 상단영역 *************/
/* common.css */


/************* 메인영역 *************/
/* ---------------------첫페이지--------------------- */
.saturn1{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}
.saturn1-bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(0, 0, 0) 5%, #ffffff00 50%);
    /* background-color: #fff; */
}
.saturn1 video{
    position: absolute;
    right: 0;
    /* width: 100%; */
    height: 100vh;
}
.saturn1-text{
    color: #fff;
    position: absolute;
    width: 40%;

    bottom: 25vh;
    left: 10%;
}
.saturn1-text h1{
    font-family: 'Pretendard-Regular';
    /* font-size: max(18vw,12rem); */
    font-size: 18rem;
    letter-spacing: 10px;
    text-shadow: 1px 1px 2px #333;
    /* opacity: 0; */
    /* animation: fadein 1.4s ease-in-out 1.3s forwards; */
}
.saturn1-text p{
    /* width: min(70vw,522px); */
    width: 100%;

    font-size: min(3vw,1.8rem);
    line-height: 1.3;
    font-weight: 200;

    text-indent: 5px;
    text-align: justify;

    border-top: 1px solid #ccc;
}

/* ---------------------두번째 페이지--------------------- */
.saturn2{
    max-width: 1400px;
    min-width: 600px;
    margin: 0 auto;
}
.desc{
    display: flex;
    font-size: max(1vw,14px);
    gap: 2rem;
    margin-top: 20px;
}
.desc strong{
    font-size: max(1.5vw,20px);
    
}
.desc1{
    flex-direction: row-reverse;
}
/* 2-1 첫번째 사진 */
.desc1-img{
    width: 45vw;
    height: auto;
}
.desc2 iframe{
    width: 30vw;
    height: 100%;
}

/* ---------------------세번째 페이지--------------------- */
.saturn3{
    margin-top: 30px;
}
.saturn3-cont{
    margin: 50px 0;
}

/* 세번째페이지 - 고리 설명 */
.saturn3-desc{
    max-width: 1400px;
    /* text-align: center; */
    margin: 0 auto;
    font-size: 2.5rem;
}
.saturn3-desc h3{
    font-size: 5.5rem;
}
.saturn3-desc strong{
    font-size: 4.5rem;
}

/* 세번째페이지 - 링크이동 */

.saturn3-link{
    position: relative;
    height: 80vh;
    background-color: #000;

    padding: 50px;
}
.saturn3-img{
    position: absolute;
    right: 50px;
}
.saturn3-img img{
    aspect-ratio: 800/600;
    height: 80vh;
}
.saturn3-text{
    position: absolute;
    left: 50px;
    bottom: 50px;

    color: white;
    font-size: 6rem;
}
.saturn3-text span{

    font-size: 4rem;
    margin: 0;
    cursor: pointer;
}
.saturn3-text i{
    color: yellow;
}

/* 보너스 스테이지 */
.bonus{
    height: 50vh;
    background: url(../images/saturn/inner_rings_around_saturn_fading.gif) no-repeat fixed center/cover;
    /* background-image: url(../images/saturn/inner_rings_around_saturn_fading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}

/* ---------------------네번째 페이지--------------------- */
.saturn4{
    max-width: 1400px;
    min-height: auto;
    margin: 0 auto;
}
.saturn4 h2{
    font-size: 4rem;
    margin: 100px 0 50px;
}
/* 4번째페이지 - 리스트 */
/* 그리드 */
.saturn4-cont ul{
    display: grid;
    grid-row-gap: 15px;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
}

/* 플렉스 */
.saturn4-cont li{
    display: flex;
    gap: 10px;
    align-items: center;
}
.saturn4-cont li img{
    border-radius: 50%;
    width: 7vw;
}
.saturn4-text{
    font-size: 1.5rem;
} 

/* 네번째페이지 - 더 많은 설명 버튼 */
.saturn-more{
    display: block;
    text-align: right;
    font-size: 3rem;
    margin-bottom: 50px;
}
.saturn-more:hover i{
    color: yellow;
}



/************* 하단영역 *************/
/* common.css */



/************* 미디어쿼리 *************/