@charset "utf-8";
/* index.html */

        /* 웹폰트 구글 CDN */
        @import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Gugi&family=Black+And+White+Picture&family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');

        /* 폰트
          font-family: "Black And White Picture", system-ui;
          font-family: "Black Han Sans", sans-serif;
          font-family: "Noto Sans KR", sans-serif;
          font-family: "Gugi", sans-serif;
        */

/* 초기화 */
html,body,h1,h2{
    margin: 0;
    padding: 0;
}

/*********************************** 공사중 ***********************************/
body *{
    outline: 2px dotted red;
}

/* 배경 높이 */
html,body,.part{
    height: 100%;
}

/* 스크롤 이벤트 */
html{
    scroll-behavior: smooth;
}
/* 페이지 넘기기 */
#main-pg{
    /* background:hotpink no-repeat fixed center/cover; */
    background-color: rgb(244, 226, 235);
}
#msc-pg{
    /* background:lightblue no-repeat fixed center/cover; */
    background-color: rgb(221, 249, 249);
}

.part{
    position: relative;
}

/************************************* 상단메뉴 *************************************/
.top-area{
    position: fixed;
    top: 0;
    z-index: 1;
}
.menu li{
    display: inline-block;
    width: 160px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    font-family: "Black Han Sans", sans-serif;
}

.menu a{
    text-decoration: none;
    color: #222;

}
.menu a:hover{
    text-decoration: none;
    color: white;

}


/************************************* 메인영역 *************************************/
.main-tit-area{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}
.main-img-area{
    width: 50%;
}
.main-tit{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 30px;
}
.main-tit #exc-tit{
    position: relative;
    left: 180px;
}
.main-tit #sub-tit{
    font-size: 22px;
}


.main-img-area{
    float: left;
    height: 100%;
    
}

/************************************* 뮤지컬영역 *************************************/

.msc-area h1{
    font-size: 200px;
    text-align: center;
}

.main-msc-img-box{
    height: 600px;
}
/************************************* 전시회영역 *************************************/
