// 메인 마지막 슬라이드

.main-area {
  #inc05 {
    padding: 12rem 5rem;
    background: #f1f3fe;
    .tit_box {
      margin-bottom: 4rem;
      text-align: center;
      transition: transform 1s, opacity 1s;
      transform: translateY(2rem);
      // transform: translateY(0);
      opacity: 0;
      .tit {
        display: inline-block;
        margin-bottom: 3rem;
        font-size: 4rem;
        font-weight: 500;
        color: #222;
        position: relative;
        &::before {
          content: "";
          width: 110%;
          height: 1.6rem;
          border-radius: 1.6rem;
          background: #dde2fb;
          position: absolute;
          bottom: -0.3rem;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
        }
        em {
          font-style: normal;
          color: #284ce0;
        }
        .tit_txt {
          position: relative;
          z-index: 2;
        }
      }
      .txt {
        font-size: 1.7rem;
        font-weight: 300;
        color: #666;
      }
    }

    .mySwiper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
    }

    .news_list {
      transform: translateY(2rem);
      opacity: 0;
      transition: transform 1s, opacity 1s;
      li {
        height: 34rem;
        border-radius: 2rem;
        background: #fff;
        position: relative;
        margin-right: 30px;
        width: 259.4px;
        .aInDiv {
          display: block;
          padding: 4rem 3rem;
          z-index: 3;
        }
        .cont_box {
          padding: 0 3rem 4rem;
          position: absolute;
          left: 0;
          bottom: 0;
          .tit {
            margin-bottom: 1.5rem;
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 2.8rem;
            color: #333;
            text-overflow: ellipsis;
            word-break: break-word !important;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .txt {
            font-size: 1.6rem;
            line-height: 2.8rem;
            color: #888 !important;
            text-overflow: ellipsis;
            word-break: break-word !important;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .date {
            margin-top: 2rem;
            font-weight: 400;
            color: #999;
            width: 100%;
            text-align: right;
            font-family: "Play", sans-serif;
          }
        }
        .more_btn {
          width: 5rem;
          height: 5rem;
          border-radius: 5rem;
          font-weight: 700;
          font-size: 1.5rem;
          color: #999;
          text-align: center;
          line-height: 5rem;
          background: #f7f7f7;
          position: absolute;
          top: 4rem;
          right: 3rem;
          transition: all 0.3s;
        }
        &:hover {
          cursor: pointer;
          .more_btn {
            background: #284ce0;
            color: #fff;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
