@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/
  .menu{
    position: fixed;
    z-index: 1;
  }
  .menu li {
    display: inline-block;
    width: 160px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    font-family: "Black Han Sans", sans-serif;
  }
  
  .menu a {
    text-decoration: none;
    color: #222;
  }
  
  .menu a:hover {
    text-decoration: none;
    color: white;
  }
/************ 2. 메인영역 ************/
/************* 3. 하단영역 *************/