@charset "utf-8";
/* 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);


/************************************* 상단메뉴 *************************************/
/* 공통 CSS : common.css에 넣음 */

/* #top-area {
  position: fixed;
  top: 0;
  z-index: 2;
}
.menu li {
  display: inline-block;
  width: 160px;
  height: 70px;
  font-size: 25px;
  text-align: center;
  line-height: 70px;
  font-family: "Black Han Sans", sans-serif;
}

.menu a {
  text-decoration: none;
  color: #222;
}

.menu a:hover {
  text-decoration: none;
  color: white;
} */

/************************************* 메인영역 *************************************/
#main-area {
  width: 100vw;
  height: 100%;
  background-color: #e2bebe;
  
}

.main-tit-area{
  position: absolute;
  height: 100%;
  z-index: 1;

  display: flex;
  align-items: center;
  white-space: nowrap;

  padding: 0 100px;
}

/* 메인 타이틀 */
.main-tit dt {
  position: relative;

  /* font-size: 74px; */
  font-size: max(min(10vw,50px),74px);
  font-family: "Black Han Sans", sans-serif;

  opacity: 0;
  left: -20%;
  animation: main-tit-ani 2s ease-in-out forwards;

}
/* 서브타이틀 */
.main-tit dd {
  position: relative;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1.2rem;
  font-family: "Noto Sans KR", sans-serif;

  left: -25%;
  opacity: 0;
  animation: main-tit-ani 2s ease-in-out .5s forwards;
}

@keyframes main-tit-ani {
  to{
    left: 10%;
    opacity: 1;
  }
  
}


/* 메인 움직이는 그림 */
.main-img-part{
  position: absolute;
  top: 50px;
  right: 0%;

  display: flex;

  animation: main-img-opty 3s ease-in-out 2s forwards;
}

.main-img-part li:nth-child(2){
  margin-top: 50px;
}
.main-img-part ul:nth-child(2){
  margin-top: 150px;
  margin-left: 20%;
}
.main-img-part img{
  width: 350px;
}

.main-img-1 {
  opacity: 0;
  /* right: -30px; */
}
.main-img-2 {
  opacity: 0;
}

@keyframes main-img-opty {
  to{
    right: 10%;
    opacity: 1;
  }
  
}



/************************************* 뮤지컬영역 *************************************/
#msc-area {
  /* 부모자격 - 뮤지컬 리스트 */
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: #bed8e2;
}
.msc-area {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-direction: column;
}
.cir{
  position: relative;
  top: 50%;
  left: 50%;

  width: 300px;
  height: 300px;
  border: 3px dashed #000;
  border-radius: 50%;
}

.msc-area > h1 {
  text-align: center;
  font-size: 6vw;
  margin-top: 10%;
  margin-bottom: 20px;
  font-family: "Black Han Sans", sans-serif;
  font-weight: normal;

}

/* 포스터 리스트 영역 - msc-list */
.msc-list {
  /* 드레그이벤트를 위해 적어둠 */
  display: flex;
  overflow: visible;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;

}
.msc-list li {
  display: inline-block;
  /* 제목및 장소 말줄임표를 위한 가로 크기 정렬 후에 맞추던지 다른걸로 바꾸던지 */
  max-width: 300px;
  text-align: center;
  font-size: 17px;
  margin: 0 30px;
}

.msc-area dt {
  font-weight: bold;
}
/* 메인 포스터 제목 및 장소 말줄임표 */
.msc-area dt,dd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}


.msc-area .msc-btn #msc-more-btn{
    font-size: 25px;
    background-color: #a2676700;
    border: none;
}

/* 넘기기 버튼 */
.pass-btn {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}


/************************************* 전시회영역 *************************************/

#exh-area {
  width: 100vw;
  height: 100%;
  background-color: #bee2c6;
}
