@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_float.css);


        /* 웹폰트 구글 CDN */
       


/* 공사중 표시 */
body * {
    outline: 2px dashed #424242;
}

/************************************* 상단메뉴 *************************************/
#top-area{
    position: fixed;
    top: 0;
    z-index: 1;
}
.menu li{
    display: inline-block;
    width: 160px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    font-family: "Black Han Sans", sans-serif;
}

.menu a{
    text-decoration: none;
    color: #222;
}

.menu a:hover{
    text-decoration: none;
    color: white;
}


/************************************* 메인영역 *************************************/
#main-area{
    
    height: 100%;
    background-color: #e2bebe;
}

.main-tit-gp{
    /* 부모는 전체화면 */
    position: absolute;
    top: 31%;
    left: 15%;
    font-size: 10rem;
}
/* .main-tit #exc-tit{

} */
.main-tit #sub-tit{
    font-size: 22px;
}

/************************************* 뮤지컬영역 *************************************/
#msc-area{
    /* 부모자격 - 뮤지컬 리스트 */
    position: relative;
    height: 100%;
    background-color: #bed8e2;
}
.msc-list li{
    display: inline-block;
    max-width: 300px;
    text-align: center;
    font-size: 17px;
}
.msc-list{
    /* 부모 : 뮤지컬영역 */
    position: absolute;
    
}
/* 메인 포스터 제목 및 장소 말줄임표 */
.msc-area dt,dd{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/************************************* 전시회영역 *************************************/
#exh-area{
    height: 100%;
    background-color: #bee2c6;
}
