@charset "utf-8";
/* 더보기 css - more.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_float.css);


/********************************* 1. 상단영역 *********************************/
/* 상단메뉴 - 공통 CSS : common.css에 넣음 */
/* .top-area{
    height: 100px;
} */




  /* 뮤지컬이랑 전시회 더보기 메뉴 체인지 버튼 */
  .more-change-menu{
    position: fixed;
    top: 40%;
    right: 50px;
  }
  .more-change-menu li{
    padding: 10px;
  }
  .more-change-menu button{
    padding: 10px;
  }


/********************************* .5 공통영역 *********************************/
.more-area{
    padding: 0 110px;
}

.more-list-area a{
  display: block;
  width: 100%;
  height: 100%;
}

/********************************* 2. 메뉴영역 *********************************/
.more-menu-area{
    position: relative;
    height: 250px;
    
    top: 40%;
    left: 50%;
    /* 중앙정렬 */
    transform: translateX(-50%);

    margin-bottom: 25px;
}
.more-menu-area ol{
    position: absolute;
    bottom: 10px;

    display: inline-block;

    
    font-size: 30px;
}
.more-menu-area li{
    margin: 0 30px;
    float: left;
}

/* 얜 없앨것 이미지랑 맞출려고 어거지로 넣음 */
.more-menu-area li:first-child{
    margin: 0 0 0 70px;
}

/********************************* 3. 리스트영역 *********************************/
.more-list-area{
    position: relative;
    height: auto;

    left: 50%;
    /* 중앙정렬 */
    transform: translateX(-50%);
    text-align: center;
}

.more-list-area li{
    display: inline-block;
    margin: 10px;
}



  